body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

ul.header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.header li {
	float: left;
}
ul.header li.right {
	float: right;
}

ul.header li.search {
	margin-left: 10%;
	width: 650px;
}

ul.header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.header li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: #4caf50;
}

.topTenTable {
	border-collapse: collapse;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

th,
td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(odd) {
	background-color: #8fbc8f;
}
